@charset "UTF-8";


body {
  background-image: url(../images/background.webp);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  padding: 0;
  margin: 0;
  bottom: 0;
}

/*Nav-general*/
.nav-extended {
  background-image: url(../images/headerbgimage.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: transparent;
  display: flex;
  justify-content: center;
  font-family: "Mate SC", serif;
}

.navbar-fixed {
  height: 50px;
}

.nav-all {
  width: 80%;
  height: 200px;
  padding-top: 4.5%;
}


.brand-logo {
  margin-left: 1.5%;
}


 /* Section */
h2 {
  font-family: "Mate SC", serif;
  color: purple;
}

.row {
  width: 80%;
}

 /*Index*/
.news, .forum, .store {
  margin-top: 5%;
}

.store {
  margin-bottom: 5%;
}

.news-title, .forum-title, .store-title {
  width: 80%;
  border-bottom: 2px solid;
  margin-left: 10%;
}

.forum p {
  margin-top: 0;
  margin-bottom: 0;
}

.more {
  text-align: right;
  font-size: 25px;
  margin-right: 10%;
}

.far {
  padding-right: 2px;
}

.far.fa-comments {
  padding-left: 10px;
}

#only_on_tablet {
  visibility: hidden;
  height: 0;
}

#only_on_tablet_2 {
  visibility: hidden;
  height: 0;
}

 /*index-end*/

/*Footer*/
#row_footer {
  width: 100%;
  margin-bottom: 0;
}

.page-footer {
  margin-top: 0%;
  background-image: url(../images/footer/background.jpg);
}

.footer-icon {
  width: 30%;
  height: 150px;
  padding-top: 0.5%;
  padding-bottom: 1.5%;
}

.footer-icon img {
  width: 100%;
  height: 100%;
}

#container_copyright {
  text-align: center;
}

.footer-icon {
  margin-left: 35%;
}

#centered_on_smart {
  text-align: center;
}

@media screen and (max-width: 3000px) {
    .nav-all {
      padding-top: 3%;
    }

    .page-footer {
      margin-top: 12.5%;
    }
}

@media screen and (max-width: 2560px) {
    .nav-all {
      padding-top: 3%;
    }

    .page-footer {
      margin-top: 12%;
    }
}

@media screen and (max-width: 1024px) {
    .nav-all {
      height: 150px;
      padding-top: 3%;
    }

    .page-footer {
      margin-top: 9%;
    }
}

@media screen and (max-width: 768px) {
  #only_on_tablet {
    visibility: visible;
  }

  #only_on_tablet_2 {
    visibility: visible
  }

  .nav-extended {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .nav-all {
    height: 120px;
    padding-top: 1.5%;
  }
}

@media screen and (max-width: 540px) {
  #only_on_tablet {
    visibility: hidden;
  }

  #only_on_tablet_2 {
    visibility: hidden;
  }

  .nav-all {
    height: 100px;
    padding-top: 0;
    width: 100%;
  }

  .footer-icon {
    margin-left: 35%;
  }

  #centered_on_smart {
    text-align: center;
  }
}

@media screen and (max-width: 414px) {
  #only_on_tablet {
    visibility: hidden;
  }

  #only_on_tablet_2 {
    visibility: hidden;
  }

  .nav-all {
    height: 100px;
    padding-top: 0;
    width: 100%;
  }

  .footer-icon {
    margin-left: 35%;
  }

  #centered_on_smart {
    text-align: center;
  }

  #container_copyright {
    font-size: 12px;
  }
}
